engine-strict=true
node-linker=pnpm
save-exact=true
strict-peer-dependencies=false
auto-install-peers=true
prefer-workspace-packages=true
shared-workspace-lockfile=true
resolution-mode=highest
registry=https://registry.npmjs.org/
